*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.gn-menu-main,
.gn-menu-main ul {
    margin: 0;
    padding: 0;
    background: #2268AB;
    color: #fff;
    list-style: none;
    text-transform: none;
    font-weight: 300;
    font-family: 'Roboto', Arial, sans-serif;
    line-height: 60px;
}

.gn-menu-main ul {
    background: #fff;
}

.gn-menu-main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    font-size: 13px;
    z-index: 2;
}

.gn-menu-main ul a {
    display: block;
    padding-left: 25px;
    font-weight: 600;
    height: 100%;
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.no-touchevents .gn-menu-main ul a:hover,
.no-touchevents .gn-menu ul li.gn-search-item:hover,
.no-touchevents .gn-menu ul li.gn-search-item:hover a {
    background: #3498db;
    color: white;
}

.gn-menu-main > li {
    display: block;
    float: left;
    height: 100%;
    text-align: center;
}

.gn-menu-main li.gn-trigger {
    position: relative;
    width: 60px;
    margin-left: 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.gn-menu-main > li:last-child {
    float: right;
    border-right: none;
    padding-right: 20px;
}

.gn-menu-main > li > a {
    /* padding: 0 30px; */
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    color: #fff;
}

.gn-menu-main:after {
    display: table;
    clear: both;
    content: "";
}

.gn-menu-wrapper {
    position: fixed;
    padding-bottom: 100px;
    top: 60px;
    bottom: 0;
    left: 0;
    overflow: hidden;
    width: 60px;
    background: white;
    -webkit-transform: translateX(-60px);
    -moz-transform: translateX(-60px);
    transform: translateX(-60px);
    -webkit-transition: -webkit-transform 0.3s, width 0.3s;
    -moz-transition: -moz-transform 0.3s, width 0.3s;
    transition: transform 0.3s, width 0.3s;
}

.gn-scroller {
    position: absolute;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
}

.humburg {
    position: relative;
}

.gn-menu {
    margin-top: 20px;
    padding-bottom: 40px !important;
    text-align: left;
    font-size: 18px;
    z-index: 999;
}

.gn-menu a {

    text-align: left;
    font-size: 16px;
}

.gn-menu > li {
    position: relative;
}

.gn-submenu {
    display: none;
}

li ul.gn-submenu li {
    overflow: hidden;
    height: 30px;
}

.gn-submenu li a {
    line-height: 50px;
    color: #000;
    padding-left: 40px;
    font-weight: normal
}

.gn-menu-main .gn-search-item a {
    position: absolute;
    top: 0;
    left: 0;
    height: 60px;
}

.fa::before {
    display: inline-block;
    width: 60px;
    text-align: center;
}

/* if an icon anchor has a span, hide the span */
.fa + span {
    width: 0;
    height: 0;
    display: block;
    overflow: hidden;
}

.fa-bars {
    font-size: 40px;
    line-height: 60px;

}

/* styles for opening menu */
.gn-menu-wrapper.gn-open-all,
.gn-menu-wrapper.gn-open-part {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px);
}

.gn-menu-wrapper.gn-open-all {
    width: 340px;
    -webkit-box-shadow: 200px 0px 0px 0px rgba(0, 0, 0, 0.34);
    -moz-box-shadow: 200px 0px 0px 0px rgba(0, 0, 0, 0.34);
    box-shadow: 200px 0px 0px 0px rgba(0, 0, 0, 0.34);
}

@media screen and (max-width: 422px) {
    .gn-menu-wrapper.gn-open-all {
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        transform: translateX(0px);
        width: 85%;
    }

    .gn-menu-wrapper.gn-open-all .gn-scroller {
        width: 100%
    }
}