@media only screen and (max-width: 1200px) {
    header li {
        padding: 10px !important;
    }
}

@media only screen and (max-width: 1120px) {
    header li {
        padding: 3px !important;
    }

    .left-bar a {
        font-size: 18px !important;
    }
}

@media only screen and (max-width: 991px) {
    .navbar {
        display: none;
    }

    body {
        padding-top: 60px !important;
    }

    ul#gn-menu {
        display: block;
    }

    .swiper-slide .swiper-content {
        bottom: 60px !important;
    }

    .swiper-slide .swiper-content h2 {
        font-size: 26px !important;
    }

    .swiper-slide span {
        font-size: 14px !important;
    }

    .left-bar a {
        font-size: 14px !important;
    }

    .content-img img {
        padding-left: -20px;
        max-width: 240px;
    }

    section.about .container {
        background: #fff;
        padding: 30px 10px !important;
    }

    footer div {
    }

    footer {
        padding: 50px 45px 0;
    }

    .energo {
        text-align: left !important;
    }

    footer p {
        margin: 0 !important;
    }

    .form-content h4 {
        font-size: 20px;
    }

    .form-content p {
        font-size: 13px !important;
    }

}

@media only screen and (max-width: 764px) {
    .swiper-slide .swiper-content h2 {
        font-size: 20px !important;
    }

    .swiper-slide span {
        font-size: 12px !important;
    }

    .navbar img {
        left: 0 !important;
    }

    .left-bar {
        display: none !important;
    }

    .hidden {
        height: 300px;
        overflow: hidden;
        margin: 20px 0;
    }

    .hidden img {
        float: none !important;
        display: block !important;
        height: auto;
        width: 100%;
    }

    .aligner {
        max-width: 100% !important;
    }

    .content img {
        display: none;
    }

    .form-content div.reset-p {
        display: none;
    }
}

@media only screen and (max-width: 568px) {
    .swiper-slide .swiper-content {
        bottom: 40px !important;
    }

    body .swiper-slide .swiper-content h2 {
        font-size: 11px !important;
    }

    .swiper-slide .swiper-content {
        bottom: 15px !important;
    }
}

@media only screen and (max-width: 568px) {

    .map .container {
        max-width: 200px;

    }

    .map .container a {

    }

    .map .address {
        padding: 20px 10px;
        font-size: 12px;
        height: auto;
    }

    .extend-fluid iframe {
        height: 320px;
    }

    .map button {
        bottom: -60px;
        font-size: 14px;
        padding: 10px 25px;
    }
}

@media only screen and (min-width: 520px) {

    nav.gn-menu-wrapper.gn-open-all {

        webkit-box-shadow: 14px 7px 20px 0px rgba(0, 0, 0, 0.23);
        -moz-box-shadow: 14px 7px 20px 0px rgba(0, 0, 0, 0.23);
        box-shadow: 14px 7px 20px 0px rgba(0, 0, 0, 0.23);
    }
}
