@charset "utf-8";
/*   
Theme Name: New Energo
Theme URI: http://energo.uz
Description: краткое-описание-темы
Author: energo.uz
Version: 0.0.3
*/

/*//////////////////Базовые Стили////////////////////////////*/
*{
    font-family: 'Roboto', sans-serif;
}

body {
    margin:0;
    padding:0;
    font-family: 'Roboto',sans-serif;
    font-size:16px;
    background-color:#fff;
    transition: all .5s;
    /*color:#FCFCFC;*/
}
.extend {
    max-width: 1265px;
}
.extend-fluid {
    max-width:100%;
}
.container {
    padding:0
}
p {
    font-size:14px;
}
h3{
    font-size: 36px;
    color: #000;
    font-weight: bold;
    margin-bottom: 50px;
}
a {
    font-size:12px;
}
a:hover {
    color:#007bff;
}
textarea {
    resize:none;
}
a:hover {
    text-decoration:none;
}
.reset-p {
    padding:0;
}

.bold{
    font-weight: 600;
}
/*//////////////////Базовые Стили////////////////////////////*/

/*//////////////////Стили Шапки////////////////////////////*/
header  {
    background-color:#f8f9fa;
}
header nav a {
    transition: all .5s;
    font-weight:bold;
    color:#000 !important; 
}
header nav li {
    padding:0 15px;
}
header a:hover {
    color:#3793E3 !important;
}
.navbar ul{
    margin:auto;
}
/*//////////////////Стили Шапки////////////////////////////*/

/*//////////////////Стили Главного слайдера////////////////////////////*/
.swiper-slide {
    position:relative
}
.slide-content .swiper-slide img {
    filter:brightness(70%);
    width:100%;
}
.swiper-slide .swiper-content {
    position:absolute;
    bottom:90px;
    left:10%;
    letter-spacing:0.10em;
    color:#fff;
}
.swiper-slide .swiper-content h2 {
    font-size:38px;
    font-weight:bold;
}
.swiper-slide span {
    font-size:24px;
}
.swiper-slide a.btn {
    background-color:#3793E3;
    font-size:10px;
    margin-top:10px;
    border-radius:0;
    padding:10px 20px;
    letter-spacing:0;
}
/*//////////////////Стили Главного слайдера////////////////////////////*/



/*//////////////////Стили Блока о нас////////////////////////////*/
section.about {
    background-color: #FCFCFC;
    padding: 50px 0;
}
section.about  .container{

    padding:50px;
}
section .about {
    padding:30px !important;
    margin:auto;
    text-align:center;
}
.left-bar {
    padding:35px 25px;
}
.left-bar a{
    font-size:20px;
    line-height:37px;
    color:#000;
    display:inline-block;
    font-weight:600;
    transition:all .5s;
}
.left-bar a:hover {
    color:#007bff;
}
.content img{
    float:right;
    margin-top:-25px;
}
.content p {
    font-size:16px;
}
.aligner {
    max-width:500px;
}
.hidden{
    width: 100%;
}
.hidden img{
    display:none;
    width: 100%;
}
/*//////////////////Стили Блока о нас////////////////////////////*/


/*//////////////////Стили Футера////////////////////////////*/
footer {
    width: 100%;
    background:#f1f1f1;
    font-weight:bold;
    padding: 50px 15px;
}
footer .container{
    
}
footer p {
    max-width:300px;
    color:#5C5C5C;
    font-weight: normal;
}
footer .ft50 {
    width:50%;
    float:left;
}
footer ul {
    padding:0;
    list-style:none;
}
footer ul li {
    color:#5C5C5C;
    font-weight: normal;
    margin-bottom:15px;
    font-size:14px;
}

footer ul li:hover {
    color:#000;
}
footer ul li a {
    color:#5C5C5C;
    font-size:14px;
}


footer ul.cont li{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: nowrap;
}


footer h4.bold {
    margin-bottom: 30px;
    font-size:18px;
    margin-top: 15px;
}

footer .energo h4.bold {
    margin-bottom: 15px;
    font-size:18px;
    margin-top: 15px;
}
footer img {
    margin-bottom:10px;
}

footer ul li i {
    margin-right:15px;
    color: #000;
    display: block;
}
.credits{
    width: 100%;
    background: #F1F1F1;
    padding: 15px;
    text-align: right;
    font-size: 14px;
    color: #000;
}
.energo {
    
}
/*//////////////////Стили Футера////////////////////////////*/



/*//////////////////Стили Формы обратного связи////////////////////////////*/
.form-content {
    padding:100px 15px;
    margin:auto;
    background:#fff;
}
.form-content form input{
    margin-bottom:30px;
}
.form-content .form-control {
    border-radius:0;
    background:#F6F6F6;
    border:0;
    font-weight:bold;
}
.form-content textarea {
    width:100%;
    padding:15px;
    font-weight:bold;
    background:#F6F6F6;
    border:0;
    min-height:272px;
}
.form-content img {
    margin-left:4px;
    filter:brightness(50%);
    position:relative;
    width:100%;
    height:272px;
}
.form-content span {
    position:absolute;
    left:30px;
    top:30px;
    color:#fff;
}
.form-content h2 {
    margin-bottom:35px;
}
.form-content span p {
    font-size:16px;
}
/*//////////////////Стили Формы обратного связи////////////////////////////*/


/*//////////////////Стили карты////////////////////////////*/
.map  .extend-fluid {
    position:relative
}
.map .container {
    position:absolute;
    top:60px;
    left:5%;
    margin:auto;
    max-width: 350px;
    width: 100%;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.05);
border-radius: 6px;
}
.map .address {
    font-weight:bold;   
    background:#fff;
    box-shadow: 1px 14px 43px #0000001a;
    padding:25px;
    height:285px;
}
.map button {
    position:absolute;
    bottom:-140px;
    padding:20px 25px;
    background:#3793E3;
    color:#fff;
}
/*//////////////////Стили карты////////////////////////////*/

/*//////////////////Стили слайдера продукции////////////////////////////*/
.production {
    margin:0 auto;
    background:#fff;
    padding:100px 15px;
}
.production-slider {

}
.production-slider h5 {
    font-weight:bold;
}
.production-slider img{
    margin-right:auto;
    margin-left:auto;
    max-width:180px;
    height:160px;
}
.production-slider span {
    font-size:14px;
}
.caption {
    max-width:255px;
    padding-bottom:10px;
    border-bottom:2px solid rgba(0,0,0, .5)
}
.production-slider a {
    font-size:16px;
    color:#5c5c5c;
    font-weight: bold;
    margin-top: 15px;
    display:inline-block;
    transition:.5s all;
}
.production-slider a:hover {
    color:#3793E3;
}
.production-slider div {
    position:relative;
}
.production-slider i {
    position:absolute;
    right:30px;
    bottom:5px;
    color:#3793E3;
    transition:all .5s;
}
.production-slider i:hover {
    transform:rotate(360deg)
}
.slick-prev:before {
    content:"\f0a9";
}
.slick-prev:before, .slick-next:before {
    color:#3793E3 !important;
    padding:10px 10px;
    border-radius:50%;
    box-shadow: 1px 14px 43px #0000001a;
    font-size:26px;
}
.slick-next {
    right:30px;
}
/*//////////////////Стили слайдера продукции////////////////////////////*/

/*//////////////////Стили таблицы////////////////////////////*/
.table-info {
    border-top:1px solid #fff;
    padding:0 15px;
    margin:auto;
    background:#fff;
    font-weight:bold;
}
.table-info tbody+tbody, .table-info td, .table-info th, .table-info thead th{
    border-color: #000;
}
.table-info thead th{
    color: #3793E4;
}
/*//////////////////Стили таблицы////////////////////////////*/


.nav-head{
    min-height: 200px;
    background-image: url(http://energo.uz/wp-content/themes/newenergo/img/image.png);
    background-color: #000;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 15px 20px;
    text-align: left;
    position: relative;
    margin-bottom: 20px;
}
.nav-head .n-logo{
    z-index: 999;
    position: absolute;
    top: 15px;
    left: 20px;
}

.nav-head .n-cont{
    z-index: 999;
    position: absolute;
    bottom: 15px;
    left: 20px;
    height: 40px;
}

.nav-head .n-cont a{
    font-size: 18px;
    line-height: 24px;
    color: #fff;
}
.nav-head .bg-nav{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: .2;
    background-color: #000;
}
.navbar{
    padding: 0 15px;

}
#gn-menu{
    display: none;
    z-index: 999;
}
#navbarNav{
    height: 65px;
}
#navbarNav ul.navbar-nav{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    margin: 0;
    height: 100%;
    width: 100%;
}
#navbarNav ul.navbar-nav .nav-item a{
    line-height:50px;
}

#navbarNav ul.navbar-nav>li:first-child{
    border-right: 1px solid #C4C4C4;
}
.navbar-brand{
    width: 100%;
    max-width: 65px;
    height: 65px;
    padding: 0;
    background-color: #0054A6;
}

.navbar-brand img{
    width: 100%;
}


/* SEARCH INPUT */
.nav-search{
    font-size: 30px;
    line-height: 60px;
}
.close {
    display: none;
}
.search-div{
    position: fixed;
    display: none;
    top: 0;
    left: 0;  
    padding: 5px 15px 5px 10px;     
    background-color: #2268AB;
    width: 100%;
    height: 60px;
    color: #fff;
}

.search-div .s-form{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;;
    height: 100%;
}

.search-div .s-form .fa{
    font-size: 25px;
    width: 50px ;
    color: #fff;
}

.search-div .s-form button{
    background: none;
    border: none;
}

.search-div .s-form input{
    background: none;
    border: 1px solid #fff;
    height: 30px;
    width: 70%;
    border-radius: 3px;
    padding: 5px;
    font-size: 15px;
    color: #fff;
}

.search-div .s-form input::placeholder{
   
    color: #ffffffbd;
}


/* side Bar */
.left-bar ul>li{
    position: relative;
    min-height: 50px;
}
.left-bar ul>li>a{
    line-height: 50px;
    margin: 0;
}
.left-bar  ul>li>ul{
    display: none;
    width: 100%;
    transition: all .5s;
    padding: 0;
}
.left-bar  ul>li:hover ul{
    display: block;
    
}

.left-bar ul>li>ul>li{
    font-size: 15px;
    display: block;
    min-height:30px !important;
    line-height: 15px;
    padding: 10px 15px;
}
.left-bar ul>li>ul>li a{
    font-size: 15px;
    line-height: 16px;
    margin: 0;
}

li.under-nav:after{
    content: url(http://energo.uz/wp-content/themes/newenergo/img/arrow.png);
    position: absolute;
    right: 0;
    top: 17px;
}
li.open-ul:after{
    content: url(http://energo.uz/wp-content/themes/newenergo/img/arrow.png);
    position: absolute;
    right: 20px;
    top: 3px;
} 
li.under-nav a{
    margin: 0;
}

/* Main Navigation */

#navbarNav ul>li{
    position: relative;
}

#navbarNav ul>li>ul{
    display: none;
    position: absolute;
    z-index: 9999;
    background-color: #f3f3f3;
    top: 65px;
    left: 15px;
    padding: 0;
    list-style: none;
    min-width: 190px;
    max-width: 250px;
    width: 100%;
    border-bottom: 3px solid #0053aa;
}

#navbarNav ul>li:hover ul{
    display: block;
}

#navbarNav ul>li>ul>li{
    padding: 0px !important;
}

#navbarNav ul>li>ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 60px;
    padding: 0px 15px;
}
#navbarNav ul>li>ul a:hover{
    background-color: #fff;
}